.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .input-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    border: none;
    background: rgb(17, 85, 234);
    font-size: 18px;
    color: white;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: rgb(15, 75, 204);
}